body {
    color: #ffffff;
    background-color: #2A2054;
    font-family: 'Comfortaa', cursive;
}
.navbar {
    height: 50px;
    background-color: black !important;
    line-height: 40px;
    padding: auto 0;

}
.navbar-brand {
    font-family: 'Sura', serif;
    font-size: 26px;
    line-height: 40px;
    padding: 0 0;
}

.nav-link {
    color: #ffffff !important;
}

.container {
    width: 960px;
    background-color: transparent;
}

.jumbotron, .game-cards, .gems-buttons {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    border: transparent;
}

.jumbotron {
    padding: 0 0;
    border: 30px 0 0 0;
    font-family: 'Pacifico', cursive;
}

#instructions {
    background-color: transparent;
    color: #ffffff;
    border: transparent;
    font-size: 14px;
}

.gem {
    border: transparent !important;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px; /* fixed height of the footer */
    line-height: 30px; /* vertically center the text */
    width: 100%;
    background-color: black !important;
    color: #ffffff !important;
  }

  footer {
      text-align: center;
  }

  a, a:hover, a:active {
      color: #ffffff;
  }